@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grayishBlue: hsl(217, 19%, 38%);
	--darkGrayishBlue: hsl(217, 19%, 24%);
	--darkBlue: hsl(218, 23%, 16%);
	--lightCyan: hsl(193, 38%, 86%);
	--neonGreen: hsl(150, 100%, 66%);
}

body {
	background-color: var(--darkBlue);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	background-color: var(--darkGrayishBlue);
	width: 525px;
	height: 300px;
	border-radius: 10px;
	text-align: center;
	padding: 2rem;
	margin-bottom: 5rem;
	position: relative;
}

.content {
	height: 90%;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

h2 {
	font-family: 'Manrope', sans-serif;
	letter-spacing: 3px;
	font-size: 12px;
	text-transform: uppercase;
	color: var(--neonGreen);
}

#advice-text {
	font-family: 'Manrope', sans-serif;
	font-size: 24px;
	color: var(--lightCyan);

	height: 70%;
}

#advice-btn {
	background-color: var(--neonGreen);
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	position: absolute;
	bottom: -29px;
	right: 232px;
	transition: all 0.3s ease;
}

#advice-btn img {
	position: absolute;
	top: 18px;
	right: 18px;
}

#advice-btn:hover {
	background-color: hsl(150, 91%, 74%);
	box-shadow: 0px 0px 20px 0px hsl(150, 91%, 74%);
}

@media only screen and (max-width: 550px) {
	body {
		padding: 1rem;
	}
	.container {
		width: 350px;
		height: 300px;
	}

	#advice-btn {
		right: 144px;
	}

  #advice-text {
    font-size: 18px;
  }
}

.attribution {
	font-size: 11px;
	text-align: center;
  color:hsl(150, 91%, 74%);
}
.attribution a {
	color: var(--lightCyan);
}
